.form_container {
  width: 30%;
}

@media screen and (max-width: 1000px) {
  .form_container {
    width: 45%;
  }
}

@media screen and (max-width: 700px) {
  .form_container {
    width: 65%;
  }
}

.bg-primary-custom {
  background-color: #007bff;
  color: white;
}
